.one-cat {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary-light);
    color: var(--text-primary);
    border-radius: 0.625rem;
    padding: 0.625rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.one-cat img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
    aspect-ratio: 4/3; 
    object-fit: cover; 
    border-radius: var(--radius-sm);
}

.one-cat h2 {
    margin: 0.625rem 0;
    color: var(--icon-primary);
}

.one-cat p {
    margin: 0.5rem;
    font-size: 1rem;
    color: var(--text-secondary);
    text-align: center;
}

.cat-details {
    margin: 0 1rem;
    width: calc(100% - 2rem);
}

.cat-details p {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    text-align: left;
}

.status { 
    padding:.25rem .5rem; 
    border-radius: var(--radius-sm); 
    display:inline-block 
}

.status.available { 
    background:
    color-mix(in oklab, var(--color-success) 25%, transparent); 
    color:var(--color-success) 
}

.status.unavailable{ 
    background:color-mix(in oklab, var(--color-error) 25%, transparent); 
    color:var(--color-error) 
}


/* .cat-details p.status-available span{
    color: var(--color-success-light);
    font-weight: 700;
} */

h2 .sex-icon {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-bottom: -0.5rem;
}

.icon-male {
    color: var(--color-info); 
}
.icon-female {
    color: var(--icon-primary); 
}

.buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.buttons button {
    background-color: var(--button-primary);
    color: var(--text-secondary);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-weight: 700;
    transition: all var(--transition-speed) var(--transition-timing);
    cursor: pointer;
}

.buttons button:hover {
    transform: scale(1.04);
}

.buttons .donate-button {
    background-color: var(--text-secondary);
    color: var(--bg-primary);
}

.buttons .donate-button:hover {
    background-color: var(--text-primary);
}

.buttons .adopt-button.disabled {
    filter: grayscale(100%);
    opacity: 0.9;
}

.buttons .adopt-button.disabled:hover {
    background-color: var(--button-primary);
    cursor: not-allowed;
    transform: none;
}

.buttons .adopt-button:hover {
    background-color: var(--button-secondary);
}

@media (max-width: 668px) {
    .one-cat {
        max-width: 100%;
        padding: .5rem;
    }
    
    .one-cat img {
        width: 100%;
        height: auto;
    }
    
    .one-cat h2 {
        font-size: 1.5rem;
    }
    
    .one-cat p {
        font-size: 0.9rem;
    }
    
    .buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .buttons button {
        width: 80%;
        margin: 0.5rem auto;
    }
}