
.question {
    background-color: var(--bg-primary-light);
    padding: .5rem 1rem;
    margin: 0.5rem;
    border-radius: var(--radius-sm);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-primary);
}

.question h3 {
    color: var(--text-secondary);
}

.question p {
    margin: 0.5rem 0;
    font-size: var(--fs-sm);
}

.question section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question section button.btn {
    background-color: var(--icon-secondary);
    color: var(--text-secondary);
    border: none;
    /* padding: 0.5rem 0.25rem 0rem; */
    margin: 0rem;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-size: var(--fs-md);
    font-weight: 700;
    transition: all var(--transition-speed) var(--transition-timing);
    cursor: pointer;
    /* box-shadow: 1px 1px 2px var(--text-secondary); */
}

.question section button:hover {
    transform: scale(1.04);
    background-color: var(--icon-primary);
}

.question button svg{
    min-width: 2rem;
}